<div class="banner-index">
  <div class="banner-index-info">
    <h1>All superpowers</h1>
  </div>
</div>

<div>
  <ul>
    <% @superpowers.each do |superpower| %>
      <div>
        <li>
          <%= cl_image_tag superpower.photo.key, height: 300, width: 400, crop: :fill %>
          <%= link_to superpower.name, superpower_path(superpower) %>
          <p><%= superpower.description%></p>
          <p><%= superpower.price%> €/day </p>
          <p><%= superpower.user.username%></p>
          <%= link_to "See details", superpower_path(superpower) %>
        </li>
      </div>
    <% end %>
  </ul>
</div>

<%= link_to 'Back to homepage', root_path %>
<%= link_to 'Create New Superpower', new_superpower_path %>
