<div class="banner-index">
  <div class="banner-index-info">
    <h1>All superpowers</h1>
  </div>
</div>

<div class="cards-index">
  <ul>
    <% @superpowers.each do |superpower| %>
        <li>
          <div class="card-superpower">
            <%= cl_image_tag superpower.photo.key, height: 300, width: 400, crop: :fill %>
            <div class="card-superpower-infos">
              <div class="card-superpower-left">
                <%= link_to superpower.name, superpower_path(superpower) %>
                <%# <p><%= superpower.description%></p>
                <p class="card-trip-pricing"><%= superpower.price%> € </p>
              </div>
              <%# <%= link_to "See details", superpower_path(superpower) %>
              <div class="card-superpower-owner">
                <img src="https://ae01.alicdn.com/kf/H4e4fd984ea3c439d89a0b5afa2934307b/Full-Square-Round-Drill-5D-Diy-Diamond-Painting-Superhero-Deadpool-Than-heart-humor-Cross-Stitch-Wedding.jpg_Q90.jpg_.webp" class="card-superpower-user avatar-bordered">
                <p><%= superpower.user.username%></p>
              </div>
            </div>
          </div>
        </li>
    <% end %>
  </ul>
</div>
<div class="index-icons">

  <%= link_to new_superpower_path do %>
  <i class="fas fa-plus-circle"></i>
  <% end %>


  <%= link_to root_path do %>
  <i class="fas fa-home"></i>
  <% end %>
</div>
