<h1>Create new superpower</h1>

<%= simple_form_for @superpower do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.label :image %>
  <%= f.input :photo, as: :file %>
  <br>
  <%= f.button :submit, class: 'btn btn-primary' %>

<% end %>
