



<div class="superpower-show">
  <div class="superpower-show-img">
    <%= cl_image_tag @superpower.photo.key, crop: :fill %>
  </div>
  <div class="superpower-show-info">
    <h1><%= @superpower.name.upcase %></h1>
    <div class="superpower-show-info-description">
      <p><%= @superpower.description %></p>
    </div>
    <div class="superpower-show-info-important">
    <p><strong><%= @superpower.price%> €/day</strong></p>
    <%# <p>Reviews</p> %>
  </div>

    <div class="btn-book-frame">
      <a><button type="button" class="btn-book btn-book-flat" data-bs-toggle="modal" data-bs-target="#bookingModal"><span>Book now</span></button></a>
    </div>

    <div class="superpower-show-info-owner">
      <p><%= @superpower.user.username%></p>
      <img src="https://ae01.alicdn.com/kf/H4e4fd984ea3c439d89a0b5afa2934307b/Full-Square-Round-Drill-5D-Diy-Diamond-Painting-Superhero-Deadpool-Than-heart-humor-Cross-Stitch-Wedding.jpg_Q90.jpg_.webp" class="card-superpower-user avatar-bordered">
    </div>

<%# MODAL %>
  <div class="datepicker-form" data-controller="flatpickr">
      <div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="bookingModalLabel">Book superpower</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= simple_form_for [ @superpower, @booking ] do |form| %>
              <%= form.input :start_date, as: :string, required: true, input_html: {class: "datepicker"} %>
              <%= form.input :end_date, as: :string, required: true, input_html: {class: "datepicker"} %>
              <div style="display: flex; justify-content: center;">
                <%= form.submit "Book superpower", class: "custom-btn btn-submit", style: "width: 100%"%>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  </div>

  </div>
</div>
