



<div class="superpower-show">
  <div class="superpower-show-img">
    <%= cl_image_tag @superpower.photo.key, crop: :fill %>
  </div>
    <div class="superpower-show-info">
      <h1><%= @superpower.name.upcase %></h1>
      <div class="superpower-show-info-description">
        <p><%= @superpower.description %></p>
      </div>
      <div class="superpower-show-info-important">
      <p><%= @superpower.price.to_i%> €/day</p>
      <p>Reviews</p>
      </div>

    <h4>Book this Superpower</h4>
    <div class="datepicker-form" data-controller="flatpickr">
      <%= simple_form_for [ @superpower, @booking ] do |f| %>
      <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <div class="btn-book-frame">
      <%= f.submit "Book Superpower", class: "btn-book btn-book-flat" %>
      </div>
      <% end %>
    </div>

    <div class="btn-book-frame">
      <%= link_to '<button class="btn-book btn-book-flat"><span>Book now</span></button>'.html_safe, superpowers_path %>
    </div>

    <div class="superpower-show-info-owner">
      <p><%= @superpower.user.username%></p>
      <img src="https://ae01.alicdn.com/kf/H4e4fd984ea3c439d89a0b5afa2934307b/Full-Square-Round-Drill-5D-Diy-Diamond-Painting-Superhero-Deadpool-Than-heart-humor-Cross-Stitch-Wedding.jpg_Q90.jpg_.webp" class="card-superpower-user avatar-bordered">
    </div>
  </div>
</div>

  <div class="btns-end frame">
    <%= link_to '<button class="custom-btn btn-flat"><span>All Superpowers</span></button>'.html_safe, superpowers_path %>
  </div>
