<%# NAVBAR %>
<div class="navbar">
  <div class="navbar-content">
    <%= link_to root_path do %>
      <img src="https://upload.wikimedia.org/wikipedia/commons/2/28/Supreme_Logo.svg" class="superme-logo">
    <% end %>
    <div class="searchInputWrapper">
      <input class="searchInput" type="text" placeholder='Search'>
    </div>
    <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <%=  image_tag "https://connectingcouples.us/wp-content/uploads/2019/07/avatar-placeholder.png", class: "avatar dropdown-toggle", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end">
          <%= link_to 'All Superpowers', superpowers_path, class: "dropdown-item" %>
          <%= link_to 'Create New Superpower', new_superpower_path, class: "dropdown-item"%>
        </div>
      </li>
      <% else %>
        <%= link_to 'Sign up', new_user_registration_path, class: "btn-signup" %>
      <% end %>
  </div>
</div>
