<%# NAVBAR %>
<div class="navbar">
  <div class="navbar-content">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", class: "superme-logo" %>
    <% end %>
    <div class="searchInputWrapper">
      <input class="searchInput" type="text" placeholder='Search'>
    </div>
    <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <%=  image_tag "https://ae01.alicdn.com/kf/H4e4fd984ea3c439d89a0b5afa2934307b/Full-Square-Round-Drill-5D-Diy-Diamond-Painting-Superhero-Deadpool-Than-heart-humor-Cross-Stitch-Wedding.jpg_Q90.jpg_.webp", class: "avatar dropdown-toggle", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end">
          <%= link_to 'All Superpowers', superpowers_path, class: "dropdown-item" %>
          <%= link_to 'Create New Superpower', new_superpower_path, class: "dropdown-item"%>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
      <% else %>
        <%= link_to 'Log in', new_user_session_path, class: "btn-signup" %>
      <% end %>
  </div>
</div>
