          <!-- Modal -->
          <div class="modal fade" id="modal-<%= booking.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Review for <%= booking.superpower.name %> </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <%= simple_form_for [ booking, @review ] do |form| %>
                  <%= form.input :content, as: :string %>
                  <%= form.input :rating, as: :integer %>
                  <%= form.submit "Create review", class:"btn-primary" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
