<%# BANNER %>
<div class="banner">
  <div class="banner-info">
    <div class="banner-info-text">
      <h1>SUPERME</h1>
      <h3>RENT A SUPERPOWER</h3>
      <div class="frame">
        <%# <button><span><%= link_to 'All superpowers', superpowers_path, class: "custom-btn btn-flat"%></span></button>
        <%= link_to '<button class="custom-btn btn-flat"><span>Browse Superpowers</span></button>'.html_safe, superpowers_path %>
      </div>
    </div>
  </div>
</div>

<div class="cards-index">
  <ul>
    <% @superpowers.first(6).shuffle.each do |superpower| %>
      <%= link_to superpower_path(superpower) do %>
        <li>
            <div class="card-superpower">
              <%= cl_image_tag superpower.photo.key, height: 300, width: 400, crop: :fill %>
              <div class="card-superpower-infos">
                <div class="card-superpower-left">
                  <%# <%= link_to superpower.name, superpower_path(superpower) %>
                  <h3 class="card-superpower-name"><%= superpower.name %></h3>
                  <p class="card-superpower-pricing"><%= superpower.price.to_i%> € </p>
                </div>
                <%# <%= link_to "See details", superpower_path(superpower) %>
                <div class="card-superpower-owner">
                  <%= cl_image_tag superpower.user.photo.key, class: "avatar-bordered" %>
                  <p><%= superpower.user.username%></p>
                </div>
              </div>
            </div>
        </li>
      <% end %>
    <% end %>
  </ul>
  <div class="btns-end frame">
    <%= link_to '<button class="custom-btn btn-flat"><span>Browse Superpowers</span></button>'.html_safe, superpowers_path %>
  </div>
</div>

<div data-controller="audio">
<audio src="https://res.cloudinary.com/dklbdgc45/video/upload/v1653570900/X2Download.com_-_Canci%C3%B3n_de_la_serie_animada_X-MEN_192_kbps_erlvjm.mp3"></audio>
</div>
