<%# BANNER %>
<div class="banner">
  <div class="banner-info">
    <h3>SUPERME</h3>
    <h1>RENT A SUPERPOWER</h1>
    <%= link_to 'All superpowers', superpowers_path%>
  </div>
</div>

<div class="cards-index">
  <ul>
    <% @superpowers.first(6).each do |superpower| %>
        <li>
          <div class="card-superpower">
            <img src="https://gcdn.lanetaneta.com/wp-content/uploads/2022/01/La-novela-grafica-Deadpool-de-Rob-Liefeld-se-serializara-en-780x470.jpeg" />
            <div class="card-superpower-infos">
              <div class="card-superpower-left">
                <%= link_to superpower.name, superpower_path(superpower) %>
                <%# <p><%= superpower.description%></p>
                <p class="card-trip-pricing"><%= superpower.price%> € </p>
              </div>
              <%# <%= link_to "See details", superpower_path(superpower) %>
              <div class="card-superpower-owner">
                <img src="https://ae01.alicdn.com/kf/H4e4fd984ea3c439d89a0b5afa2934307b/Full-Square-Round-Drill-5D-Diy-Diamond-Painting-Superhero-Deadpool-Than-heart-humor-Cross-Stitch-Wedding.jpg_Q90.jpg_.webp" class="card-superpower-user avatar-bordered">
                <p><%= superpower.user.username%></p>
              </div>
            </div>
          </div>
        </li>
    <% end %>
  </ul>
   <%= link_to 'All superpowers', superpowers_path%>
</div>
