<h1>Hi <%= current_user.username %>! </h1>
<p> <%= current_user.email %> </p>

<h2><strong>All your bookings</strong></h2>

<% if @bookings.empty? %>
  <p>You don't have any bookings</p>
<% else %>
  <% current_user.bookings.each do |booking| %>
  <h4> <%= booking.superpower.name %> </h4>
  <p><strong>Start date:</strong> <%= booking.start_date %>
  <br>
  <strong>End date:</strong> <%= booking.end_date %>
  <br>
  <strong>Duration:</strong>
    <% if booking.end_date && booking.start_date %>
        <%= @duration = (((booking.end_date - booking.start_date).to_i + 1)) %>
      <% end %>
  <br>
  <strong>Price:</strong> <%= (booking.superpower.price).to_i %> €/day
  <br>
  <strong>Total price:</strong> <%= ((booking.superpower.price.to_i) * @duration).to_i %> € </p>
  <strong>Reviews:</strong> <% if @reviews.empty? %>
  <p>please leave the review</p>
  <% else %>
    <% @reviews.each do |review| %>
      <p><%= review.content %><br>
      <%= review.rating %></p>
    <% end %>
  <% end %>
  <br>

        <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: fit-content">
      Leave a review
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Review</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= simple_form_for [ booking, @review ] do |form| %>
            <%= form.input :content, as: :string %>
            <%= form.input :rating, as: :integer %>
            <%= form.submit "create review", class:"btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
